a {
  text-decoration:  none;
  color: white;
}

a:active {
  text-decoration:  none;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
